@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h2>Index</h2>
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
<a href="/Home/AngularComments">Go to Angular Comments</a>
    
<div id="content"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="@Url.Content("~/Scripts/showdown.js")"></script>
<script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
    <style>
        div {
            margin-bottom: 10px;
        }

        .comment {
            background-color: aqua;
            border: 1px Solid grey;
            border-radius: 5px;
            margin-bottom: 5px;
            padding-left: 5px;
        }

            .comment .comment-header {
                font-weight: bold;
            }

            .comment .comment-body {
                text-indent: 5px;
            }
    </style>
</body>
</html>